

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.node circle {
  fill: #F3F3FF !important;
  stroke: #2593B8 !important;
  stroke-width: 1.5px;
}

svg {
  overflow: unset;
}

.node text {
  fill: #F4F4F4;
  user-select: none;
  white-space: unset;
}

.node {
  cursor: pointer;
}

path.link {
  stroke: #2593B8;
  fill: none;
  stroke-width: 1.5px;
}

#root {
  background-color: #242424;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  position: relative;
}

span {
  color: #F4F4F4;
}

input {
  padding: 5px 12px;
  border: 0;
  border-radius: 50px;
}

input:focus {
  outline: none;
}

a, button {
  background-color: #337ab7;
  border: 0;
  color: white;
  font-size: 14px;
  text-decoration: none;
  margin-left: 8px;
  padding: 5px 12px;
  border-radius: 50px;
  transition-duration: 200ms;
}

a:hover, button:hover {
  background-color: #265a88;
  cursor: pointer;
}

.tree-container {
  overflow: auto;
  position: absolute;
  cursor: grab;
  border: 1px solid white;
  border-radius: 30px;
  padding: 1000px;
}

header {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 50px;
  background-color: #444;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

header .param {
  display: flex;
}

label {
  display: flex;
  align-items: center;
}

label span {
  font-weight: bold;
  font-size: 16px;
  margin-right: 10px;
}

label input {
  width: 60px;
}

.modal-window {
  z-index: 1000;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.3);
}

.modal-window .form {
  padding: 30px 60px;
  border-radius: 10px;
  background-color: #444444;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-window .form label {
  width: 100%;
  margin-bottom: 10px;
}

.modal-window .form label span {
  white-space: nowrap;
}

.modal-window .form label input {
  width: 100%;
}

img {
  height: 20px;
}

.path-contain input:first-child {
  margin-right: 10px;
}

.customize {
  position: absolute;
  right: 0;
  top: 50px;
  background-color: #545454;
  padding: 20px;
  border-bottom-left-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

.customize h3 {
  margin: 0 0 15px;
  color: #F3F3FF;
}

.customize label {
  width: 100%;
  margin-bottom: 10px;
}

.customize label input {
  box-sizing: border-box;
  border-radius: 2px;
}

.customize span {
  white-space: nowrap;
}

.customize span, .customize input {
  width: 50%;
}

.cancel {
  background-color: #c70033;
  transition-duration: 200ms;
}

.cancel:hover {
  background-color: #c70033;
  cursor: pointer;
}

input[type="color"] {
  padding: 0;
  outline: none;
  border-radius: unset;
  margin: unset;
}

.node-menu {
  position: absolute;
  display: flex;
  color: #F3F3FF;
  z-index: 10000;
  border-radius: 8px;
  overflow: hidden;
}

.node-menu div {
  padding: 5px 20px;
  font-size: 14px;
  cursor: pointer;
  user-select: none;
  transition-duration: 200ms;
  background-color: #444;
  white-space: nowrap;
}

.node-menu div:hover {
  background-color: #333;
}
